body {
    background-color: #e0e0e0;
    margin: 0;
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    width: 90%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
    transform: scale(1.2);
}

.description {
    text-align: center;
    margin: 5px auto;
    position: absolute;
    top: 130px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    z-index: 10;
}

.perros {
    position: relative;
    width: 100%;
    max-width: none;
    min-height: 100vh; 
    padding: 0 10px 10px 10px;
    margin: -50px 0 0 0;
    box-sizing: border-box;
}

.perro {
    display: block;
    margin: 0 auto;
}

.perro-container{
    position: absolute;
    display: inline-block;
    transform: scale(0.3);
    text-align: center;
}

.perro-container a{
    text-decoration: none;
    color: inherit;
    display: block;
    cursor: pointer;
}

.perro-container:hover .perro {
    filter: brightness(0) saturate(100%) invert(21%) sepia(100%) saturate(7426%) hue-rotate(358deg) brightness(95%) contrast(118%);
}

.song-name{
    margin-top: 10px;
    font-size: 48px;
    white-space: no-wrap;
}

.perro-container:hover .song-name{
    background-color: #64ff00
}

.credit{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
    cursor: pointer;
    background-color: #64ff00;
    color: #000000;
}

.about{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 100;
    cursor: pointer;
    background-color: #64ff00;
    color: #000000;    
}

.ig{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    cursor: pointer;
    background-color: #64ff00;
    color: #000000;
}

.perro-01 {
    top: 0px;
    left: 0px;
}

.perro-02 {
    top: 0px;
    left: 400px;
}

.perro-03 {
    top: 100px;
    left: 300px;
}

.perro-04 {
    top: 240px;
    left: 1200px;
}

.perro-05 {
    top: 500px;
    left: 100px;
}

.perro-06 {
    top: 180px;
    left: 670px;
}

.perro-07 {
    top: 40px;
    left: 1400px;
}

.perro-08 {
    top: 450px;
    left: 600px;
}

.perro-09 {
    top: 20px;
    left: 900px;
}